@media screen and (min-width:415px)
{
}
@media screen and (max-width:375px)
{
    body
    {
        font-size: 10px;

        width: 100%;
    }
}
@media screen and (max-width:320px)
{
    body
    {
        font-size: 10px !important;

        width: 100%;
    }
}
section.earnings
{
    display: block;

    width: 100%;
    margin: 1rem 0 0;
}
section.earnings:after
{
    display: block; 
    clear: both;

    content: '';
}
section.earnings .black
{
    float: left;

    width: 100%;
    height: 4rem;
    margin-bottom: 1rem;
}
section.earnings .black span
{
    line-height: 2rem; 

    display: block;

    text-align: center;
}
section.earnings .black .title
{
    font-size: 1.2rem; 

    color: #666;
}
section.earnings .black .val
{
    font-size: 1.8rem;
    line-height: 3rem; 

    height: 3rem;

    color: #000;
}
section.earnings .black .desc
{
    font-size: 1rem;

    color: #999;
}
section.earnings .black.line
{
    float: left;

    width: 50%;
    height: 6rem;
    margin-bottom: 0;
}
section.earnings .black.active .val
{
    color: #d00;
}
section.earnings .black.line.active .title
{
    color: #48bbbb;
}
section.earnings .black.line.active .val
{
    color: #000;
}
section.ranking
{
    border-top: 1rem solid #f2f2f2;
}
section.ranking h4
{
    margin: 3rem 0 2rem;

    text-align: center;

    color: #f25640;
}
section.ranking h4 i.flg
{
    display: inline-block;

    width: 5rem;
    height: .1rem;
    margin: 0 2rem;

    vertical-align: middle;

    background-color: #f25640;
}
.sys
{
    line-height: 3.2rem;

    width: 100%;
    height: 3.2rem;
    padding: 0 1rem;

    border-top: 1px solid #ddd;
}
.sys .earnings
{
    font-size: 1.4rem; 

    display: inline-block;

    color: #61605b;
}
.sys .pull-right
{
    font-size: 1.4rem; 

    color: #61605b;
}
section.earnings
{
    display: block;

    width: 100%;
    margin: 0;
    padding-top: 1rem;

    background-color: rgba(0, 0, 0, .1);
}
section.earnings:after
{
    display: block;
    clear: both;

    content: '';
}
section.earnings .black
{
    float: left;

    width: 100%;
    /*margin-bottom: 2rem;*/

    text-align: center;
}
section.earnings .black span
{
    line-height: 2rem;

    display: block;

    text-align: center;
}
section.earnings .black .title
{
    font-size: 1.2rem;

    display: block;

    color: #666;
}
section.earnings .black .val
{
    font-size: 1.8rem;
    line-height: 2.4rem;

    display: block;

    height: 2.4rem;

    color: #000;
}
section.earnings .black .desc
{
    font-size: 1rem;

    display: block;

    width: 7rem;
    margin: .25rem auto 0;
    padding: .25rem .75rem;

    color: #61605b;
    border: 1px solid #ddd;
    border-radius: .27rem;
}
section.earnings .black.line
{
    float: left;

    width: 50%;
    margin-bottom: 0;
}
section.earnings .black.active .val
{
    color: #d00;
}
section.earnings .black.line.active .title
{
    color: #48bbbb;
}
section.earnings .black.line.active .val
{
    color: #000;
}
.ranking:after
{
    display: block;
    clear: both;

    content: '';
}
.ranking h4
{
    margin: 3rem 0;

    text-align: center;

    color: #f25640;
}
.ranking h4 i.flg
{
    display: inline-block;

    width: 5rem;
    height: .1rem;
    margin: 0 2rem;

    vertical-align: middle;

    background-color: #f25640;
}
.ranking .table
{
    width: 100%;
}
.ranking .table thead
{
    color: #666;
    border-bottom: none;
    background-color: #f8f8f8;
}
.ranking .table img
{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto;

    border-radius: 50%;
}
.ranking .table th
{
    text-align: center;

    border-color: #f2f2f2;
}
.ranking .table td
{
    line-height: 2rem;

    text-align: center;

    border-color: #f2f2f2;
}

.more
{
    font-size: 1rem;

    display: block;
    float: right;

    margin-right: 1rem;
    margin-bottom: 1rem;

    cursor: pointer; 
    text-align: center;

    color: #999;
}
